<!DOCTYPE html>
<html>
    {{> header}}
    {{> toolbar}}
    <body dir="rtl" span style="font-family: tahoma;">
        <h1>הוספת המטופל בוצעה בהצלחה!</h1>
        <p>
          המטופל {{firstname}} {{lastname}} הוסף למערכת.
        <br>

        </p>

        {{> footer}}




    </body>
</html>
