<!DOCTYPE html>
<html>
    {{> header}}
    {{> toolbar}}
    <body dir="rtl" span style="font-family: tahoma;">
        <h1>דף מטופל</h1>
        <p>
          ברוך הבא למערכת, {{firstname}} {{lastname}}
        <br>

        </p>


        <input type="submit" value="בדיקה">
        {{> footer}}




    </body>
</html>
