<!DOCTYPE html>
<html>
    {{> header}}
    {{> toolbar}}
    <body dir="rtl" span style="font-family: tahoma;">
        <h1>דף מטפל</h1>
        <p>
          ברוך הבא למערכת, {{firstname}} {{lastname}}
        <br>

        </p>

        {{> footer}}




    </body>
</html>
